{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
    <div class="my-16 p-16 m-auto w-full">
        <div class="w-full md:max-w-96 border border-base-300 mx-auto p-4">
            <h1 class="text-5xl font-bold text-primary">Whisperina</h1>
            <h2 class="text-xl font-medium">Login</h2>
            <div class="mt-8 mx-auto">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('app_login') }}" method="post" class="flex flex-col  space-y-8">

                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span for="username" class="label-text">{% trans %}form.email{% endtrans %}:</span>
                        </div>
                        <input type="text" placeholder="nom@email.com"
                               id="username" name="_username"  required
{#                               id="email" name="_username" value="{{ email }}"#}
                               class="input input-bordered w-full max-w-xs"/>

                    </label>

                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span for="password" class="label-text">{% trans %}form.password{% endtrans %}:</span>
                        </div>
                        <input type="password" placeholder="*****"
                               id="password" name="_password"
                               class="input input-bordered w-full max-w-xs"/>

                    </label>

                    {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

                    <button type="submit" class="btn btn-accent">
                        {% trans %}button.login{% endtrans %}
                    </button>
                </form>

                {# <a href="{{ path('app_register') }}" class="hover:underline">
            {% trans %}button.register{% endtrans %} #}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
