{% extends 'base.html.twig' %}
{% block title %}Hello WhisperController!{% endblock %}
{% block body %}
    <div class="w-full flex flex-col">
        <h2>Traitement</h2>
        <div id="progress"></div>
        <div class="w-full" id="transcription"></div>
    </div>
{% endblock %}

{% block js %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            console.log('DOM chargé');
            const progressDiv = document.getElementById('progress');
            const transcriptionDiv = document.getElementById('transcription');

            if (!progressDiv || !transcriptionDiv) {
                console.error('Elements progress ou transcription non trouvés');
                return;
            }

            const eventSource = new EventSource("{{ mercure([
                'progression',
                'transcription'
            ])|escape('js') }}");

            eventSource.onmessage = event => {
                try {
                    const data = JSON.parse(event.data);
                    console.log('Message reçu:', data);

                    if (data.message === 'true') {
                        progressDiv.textContent += "* ";
                    } else {
                        transcriptionDiv.innerHTML += data.message;
                    }
                } catch (error) {
                    console.error('Erreur de parsing JSON:', error);
                }
            };

            eventSource.onerror = error => {
                console.error('Erreur Mercure:', error);
            };
        });
    </script>
{% endblock %}